@page
@model DevSync.PocPro.Identity.Pages.Account.Register.Index

<div class="register-page">
    
    <div class="row">

        @if (Model.View.EnableLocalLogin)
        {
            <div class="col-sm-4 offset-sm-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="font-weight-bold">Register an account.</h4>
                        
                        <hr />

                        @if (Model.View.VisibleExternalProviders.Any())
                        {
                            <p>SSO Accounts</p>

                            @foreach (var provider in Model.View.VisibleExternalProviders)
                            {
                                if (provider.DisplayName != "IdentityServer")
                                {
                                    <div class="form-group">
                                        <a class="btn btn-sm bg-white text-black w-100 border-dark"
                                           asp-page="/ExternalLogin/Challenge"
                                           asp-route-scheme="@provider.AuthenticationScheme"
                                           asp-route-returnUrl="@Model.Input.ReturnUrl">
                                            Register in with @provider.DisplayName
                                        </a>
                                    </div>
                                }
                            }
                        }

                        <hr />

                        <p>Or continue registration locally with</p>
                        
                        <form asp-page="/Account/Register/Index" asp-route-returnUrl="@Model.Input.ReturnUrl">
                            <input type="hidden" asp-for="Input.ReturnUrl"/>

                            <div class="form-group">
                                <div class="col-12 text-sm-left">
                                    <label  asp-for="Input.Username"></label>
                                </div>
                                <input class="form-control" placeholder="Username" asp-for="Input.Username" autofocus>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 text-sm-left">
                                        <label asp-for="Input.Password"></label>
                                    </div>
                                </div>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 text-sm-left">
                                        <label asp-for="Input.ConfirmPassword"></label>
                                    </div>
                                </div>
                                <input type="password" class="form-control" placeholder="Confirm Password" asp-for="Input.ConfirmPassword" autocomplete="off">
                            </div>

                            @if (Model.View.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="Input.RememberLogin">
                                        <label class="form-check-label" asp-for="Input.RememberLogin">
                                            Remember My Login
                                        </label>
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <button class="btn btn-sm bg-dark text-white w-100" name="Input.Button" value="login">Register</button>
                            </div>
                        </form>

                        Already have an account? <a asp-page="/Account/Login/Index" asp-route-returnUrl="@Model.Input.ReturnUrl">Login</a>
                    </div>
                </div>
            </div>
        }

        @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>